<nav class="p-2 bg-secondary" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="en">Home</a></li>
        <li class="breadcrumb-item"><a href="en/products">Products</a></li>
        <li class="breadcrumb-item"><a href="en/products/{{family_page}}">{{ family }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product }}</li>
    </ol>
</nav>