{# footer.twig #}

<footer class="bg-dark text-white pt-4 pb-2 mt-4">
  <div class="container text-center">
    <!-- Icons and Links -->
    <div class="mb-3">
      <a href="mailto:
      {{ email }}" class="text-white me-3">
        <i class="far fa-envelope"></i>
      </a>
      <a href="{{ linkedin }}" target="_blank" class="text-white me-3">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="{{ youtube }}" target="_blank" class="text-white">
        <i class="fab fa-youtube"></i>
      </a>
    </div>

    <!-- Copyright -->
    <div>
      <p style="font-size: 0.7rem;">&copy; {{ copyright }}</p>
    </div>
  </div>
</footer>
